In [49]:
import numpy as np
import pandas as pd

In [11]:
import os
os.getcwd()

'C:\\Users\\test\\Desktop\\Python\\Untitled Folder'

In [2]:
help(pd.groupby)

Help on function groupby in module pandas.core.api:

groupby(*args, **kwargs)

In [50]:
df=pd.read_csv('mpg.csv')

In [5]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [12]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null float64
horsepower      398 non-null object
weight          398 non-null int64
acceleration    398 non-null float64
model_year      398 non-null int64
origin          398 non-null int64
name            398 non-null object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [43]:
df.shape

(398, 9)

Aggregating functions are the ones that reduce the dimension of the returned objects. Some common aggregating functions are tabulated below:

Function
	

Description

mean()
	

Compute mean of groups

sum()
	

Compute sum of group values

size()
	

Compute group sizes

count()
	

Compute count of group

std()
	

Standard deviation of groups

var()
	

Compute variance of groups

sem()
	

Standard error of the mean of groups

describe()
	

Generates descriptive statistics

first()
	

Compute first of group values

last()
	

Compute last of group values

nth()
	

Take nth value, or a subset if n is a list

min()
	

Compute min of group values

max()
	

Compute max of group values

The aggregating functions above will exclude NA values. Any function which reduces a Series to a scalar value is an aggregation function and will work, a trivial example is df.groupby('A').agg(lambda ser: 1). Note that nth() can act as a reducer or a filter, see here.

In [35]:
df.groupby('model_year').mean()

,mpg,cylinders,displacement,weight,acceleration,origin
model_year,,,,,,
70,17.689655,6.758621,281.413793,3372.793103,12.948276,1.310345
71,21.250000,5.571429,209.750000,2995.428571,15.142857,1.428571
72,18.714286,5.821429,218.375000,3237.714286,15.125000,1.535714
73,17.100000,6.375000,256.875000,3419.025000,14.312500,1.375000
74,22.703704,5.259259,171.740741,2877.925926,16.203704,1.666667
75,20.266667,5.600000,205.533333,3176.800000,16.050000,1.466667
76,21.573529,5.647059,197.794118,3078.735294,15.941176,1.470588
77,23.375000,5.464286,191.392857,2997.357143,15.435714,1.571429
78,24.061111,5.361111,177.805556,2861.805556,15.805556,1.611111
79,25.093103,5.827586,206.689655,3055.344828,15.813793,1.275862
80,33.696552,4.137931,115.827586,2436.655172,16.934483,2.206897
81,30.334483,4.620690,135.310345,2522.931034,16.306897,1.965517
82,31.709677,4.193548,128.870968,2453.548387,16.638710,1.645161

In [36]:
df.groupby('model_year').sum()

              mpg  cylinders  displacement  weight  acceleration  origin
model_year
70          513.0        196        8161.0   97811         375.5      38
71          595.0        156        5873.0   83872         424.0      40
72          524.0        163        6114.5   90656         423.5      43
73          684.0        255       10275.0  136761         572.5      55
74          613.0        142        4637.0   77704         437.5      45
75          608.0        168        6166.0   95304         481.5      44
76          733.5        192        6725.0  104677         542.0      50
77          654.5        153        5359.0   83926         432.2      44
78          866.2        193        6401.0  103025         569.0      58
79          727.7        169        5994.0   88605         458.6      37
80          977.2        120        3359.0   70663         491.1      64
81          879.7        134        3924.0   73165         472.9      57
82          983.0        130        3995.0   76060         515.8      51

In [37]:
df.groupby('model_year').min()

,mpg,cylinders,displacement,horsepower,weight,acceleration,origin,name
model_year,,,,,,,,
70,9.0,4,97.0,113,1835,8.0,1,amc ambassador dpl
71,12.0,4,71.0,100,1613,11.5,1,amc gremlin
72,11.0,3,70.0,112,2100,11.0,1,amc ambassador sst
73,11.0,3,68.0,100,1867,9.5,1,amc ambassador brougham
74,13.0,4,71.0,100,1649,13.5,1,amc hornet
75,13.0,4,90.0,100,1795,11.5,1,amc gremlin
76,13.0,4,85.0,100,1795,12.0,1,amc hornet
77,15.0,3,79.0,100,1825,11.1,1,bmw 320i
78,16.2,4,78.0,100,1800,11.2,1,amc concord
79,15.5,4,85.0,110,1915,11.3,1,amc concord dl 6
80,19.1,3,70.0,100,1835,11.4,1,amc concord
81,17.6,4,79.0,100,1755,12.6,1,buick century
82,22.0,4,91.0,110,1965,11.6,1,amc concord dl

In [38]:
df.groupby('model_year').count()

,mpg,cylinders,displacement,horsepower,weight,acceleration,origin,name
model_year,,,,,,,,
70,29,29,29,29,29,29,29,29
71,28,28,28,28,28,28,28,28
72,28,28,28,28,28,28,28,28
73,40,40,40,40,40,40,40,40
74,27,27,27,27,27,27,27,27
75,30,30,30,30,30,30,30,30
76,34,34,34,34,34,34,34,34
77,28,28,28,28,28,28,28,28
78,36,36,36,36,36,36,36,36
79,29,29,29,29,29,29,29,29
80,29,29,29,29,29,29,29,29
81,29,29,29,29,29,29,29,29
82,31,31,31,31,31,31,31,31

In [39]:
df.groupby('model_year').std()

,mpg,cylinders,displacement,weight,acceleration,origin
model_year,,,,,,
70,5.339231,1.724926,124.421380,852.868663,3.330982,0.603765
71,6.591942,1.665079,115.102410,1061.830859,2.666171,0.741798
72,5.435529,2.073708,123.781964,974.520960,2.850032,0.792658
73,4.700245,1.807215,121.722085,974.809133,2.754222,0.667467
74,6.420010,1.583390,92.601127,949.308571,1.688532,0.832050
75,4.940566,1.522249,87.669730,765.179781,2.471737,0.730297
76,5.889297,1.667558,94.422256,821.371481,2.801419,0.706476
77,6.675862,1.815206,107.813742,912.825902,2.273391,0.835711
78,6.898044,1.495761,76.012713,626.023907,2.129915,0.837608
79,6.794217,1.774199,96.307581,747.881497,2.952931,0.591400
80,7.037983,0.580895,33.744914,432.235491,2.826694,0.818505
81,5.591465,1.082781,58.387929,533.600501,2.192509,0.944259
82,5.392548,0.601074,39.352037,354.276713,2.484844,0.914636

In [40]:
df.groupby('model_year').var()

,mpg,cylinders,displacement,weight,acceleration,origin
model_year,,,,,,
70,28.507389,2.975369,15480.679803,7.273850e+05,11.095443,0.364532
71,43.453704,2.772487,13248.564815,1.127485e+06,7.108466,0.550265
72,29.544974,4.300265,15321.974537,9.496911e+05,8.122685,0.628307
73,22.092308,3.266026,14816.266026,9.502528e+05,7.585737,0.445513
74,41.216524,2.507123,8574.968661,9.011868e+05,2.851140,0.692308
75,24.409195,2.317241,7685.981609,5.855001e+05,6.109483,0.533333
76,34.683824,2.780749,8915.562389,6.746511e+05,7.847950,0.499109
77,44.567130,3.294974,11623.802910,8.332511e+05,5.168307,0.698413
78,47.583016,2.237302,5777.932540,3.919059e+05,4.536540,0.701587
79,46.161379,3.147783,9275.150246,5.593267e+05,8.719803,0.349754
80,49.533202,0.337438,1138.719212,1.868275e+05,7.990197,0.669951
81,31.264483,1.172414,3409.150246,2.847295e+05,4.807094,0.891626
82,29.079570,0.361290,1548.582796,1.255120e+05,6.174452,0.836559

In [41]:
df.groupby('model_year').first()

,mpg,cylinders,displacement,horsepower,weight,acceleration,origin,name
model_year,,,,,,,,
70,18.0,8,307.0,130,3504,12.0,1,chevrolet chevelle malibu
71,27.0,4,97.0,88,2130,14.5,3,datsun pl510
72,24.0,4,113.0,95,2278,15.5,3,toyota corona hardtop
73,13.0,8,350.0,175,4100,13.0,1,buick century 350
74,20.0,6,198.0,95,3102,16.5,1,plymouth duster
75,19.0,6,225.0,95,3264,16.0,1,plymouth valiant custom
76,28.0,4,107.0,86,2464,15.5,2,fiat 131
77,31.5,4,98.0,68,2045,18.5,3,honda accord cvcc
78,43.1,4,90.0,48,1985,21.5,2,volkswagen rabbit custom diesel
79,21.5,6,231.0,115,3245,15.4,1,pontiac lemans v6
80,41.5,4,98.0,76,2144,14.7,2,vw rabbit
81,27.2,4,135.0,84,2490,15.7,1,plymouth reliant
82,28.0,4,112.0,88,2605,19.6,1,chevrolet cavalier

In [42]:
df.groupby('model_year').last()

,mpg,cylinders,displacement,horsepower,weight,acceleration,origin,name
model_year,,,,,,,,
70,9.0,8,304.0,193,4732,18.5,1,hi 1200d
71,26.0,4,91.0,70,1955,20.5,1,plymouth cricket
72,27.0,4,97.0,88,2100,16.5,3,toyota corolla 1600 (sw)
73,11.0,8,350.0,180,3664,11.0,1,oldsmobile omega
74,31.0,4,79.0,67,2000,16.0,2,fiat x1.9
75,33.0,4,91.0,53,1795,17.5,3,honda civic cvcc
76,13.0,8,318.0,150,3755,14.0,1,dodge d100
77,21.5,3,80.0,110,2720,13.5,3,mazda rx-4
78,29.5,4,98.0,68,2135,16.6,3,honda accord lx
79,33.5,4,151.0,90,2556,13.2,1,pontiac phoenix
80,32.4,4,107.0,72,2290,17.0,3,honda accord
81,17.6,6,225.0,85,3465,16.6,1,chrysler lebaron salon
82,31.0,4,119.0,82,2720,19.4,1,chevy s-10

In [18]:
df.groupby('model_year').max()[['mpg','acceleration']]

             mpg  acceleration
model_year
70          27.0          20.5
71          35.0          20.5
72          28.0          23.5
73          29.0          21.0
74          32.0          21.0
75          33.0          21.0
76          33.0          22.2
77          36.0          19.0
78          43.1          21.5
79          37.3          24.8
80          46.6          23.7
81          39.1          20.7
82          44.0          24.6

In [22]:
df.groupby('model_year').min()[['mpg','weight']]

             mpg  weight
model_year
70           9.0    1835
71          12.0    1613
72          11.0    2100
73          11.0    1867
74          13.0    1649
75          13.0    1795
76          13.0    1795
77          15.0    1825
78          16.2    1800
79          15.5    1915
80          19.1    1835
81          17.6    1755
82          22.0    1965

In [23]:
avg_year = df.groupby('model_year').mean()

In [25]:
avg_year.index

Int64Index([70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82], dtype='int64', name='model_year')

In [26]:
avg_year.index[-1]

82

In [27]:
avg_year.columns

Index(['mpg', 'cylinders', 'displacement', 'weight', 'acceleration', 'origin'], dtype='object')

In [28]:
avg_year['mpg']

model_year
70    17.689655
71    21.250000
72    18.714286
73    17.100000
74    22.703704
75    20.266667
76    21.573529
77    23.375000
78    24.061111
79    25.093103
80    33.696552
81    30.334483
82    31.709677
Name: mpg, dtype: float64

In [29]:
df.groupby('model_year').mean()['mpg']

model_year
70    17.689655
71    21.250000
72    18.714286
73    17.100000
74    22.703704
75    20.266667
76    21.573529
77    23.375000
78    24.061111
79    25.093103
80    33.696552
81    30.334483
82    31.709677
Name: mpg, dtype: float64

In [30]:
df.groupby('model_year').describe()

           acceleration                                                    \
                  count       mean       std   min     25%    50%     75%
model_year
70                 29.0  12.948276  3.330982   8.0  10.000  12.50  15.000
71                 28.0  15.142857  2.666171  11.5  13.375  14.50  16.125
72                 28.0  15.125000  2.850032  11.0  13.375  14.50  16.625
73                 40.0  14.312500  2.754222   9.5  12.500  14.00  16.000
74                 27.0  16.203704  1.688532  13.5  15.250  16.00  17.000
75                 30.0  16.050000  2.471737  11.5  14.125  16.00  17.375
76                 34.0  15.941176  2.801419  12.0  13.925  15.50  17.550
77                 28.0  15.435714  2.273391  11.1  14.000  15.65  16.925
78                 36.0  15.805556  2.129915  11.2  14.475  15.75  16.825
79                 29.0  15.813793  2.952931  11.3  14.000  15.00  17.300
80                 29.0  16.934483  2.826694  11.4  15.100  16.50  18.700
81                 29.0  16.306897  2.192509  12.6  14.800  16.20  17.300
82                 31.0  16.638710  2.484844  11.6  14.850  16.40  18.000

                 cylinders             ...   origin      weight               \
             max     count      mean   ...      75%  max  count         mean
model_year                             ...
70          20.5      29.0  6.758621   ...      1.0  3.0   29.0  3372.793103
71          20.5      28.0  5.571429   ...      2.0  3.0   28.0  2995.428571
72          23.5      28.0  5.821429   ...      2.0  3.0   28.0  3237.714286
73          21.0      40.0  6.375000   ...      2.0  3.0   40.0  3419.025000
74          21.0      27.0  5.259259   ...      2.0  3.0   27.0  2877.925926
75          21.0      30.0  5.600000   ...      2.0  3.0   30.0  3176.800000
76          22.2      34.0  5.647059   ...      2.0  3.0   34.0  3078.735294
77          19.0      28.0  5.464286   ...      2.0  3.0   28.0  2997.357143
78          21.5      36.0  5.361111   ...      2.0  3.0   36.0  2861.805556
79          24.8      29.0  5.827586   ...      1.0  3.0   29.0  3055.344828
80          23.7      29.0  4.137931   ...      3.0  3.0   29.0  2436.655172
81          20.7      29.0  4.620690   ...      3.0  3.0   29.0  2522.931034
82          24.6      31.0  4.193548   ...      3.0  3.0   31.0  2453.548387


                    std     min      25%     50%      75%     max
model_year
70           852.868663  1835.0  2648.00  3449.0  4312.00  4732.0
71          1061.830859  1613.0  2110.75  2798.0  3603.25  5140.0
72           974.520960  2100.0  2285.50  2956.0  4169.75  4633.0
73           974.809133  1867.0  2554.50  3338.5  4247.25  4997.0
74           949.308571  1649.0  2116.50  2489.0  3622.50  4699.0
75           765.179781  1795.0  2676.75  3098.5  3662.25  4668.0
76           821.371481  1795.0  2228.75  3171.5  3803.75  4380.0
77           912.825902  1825.0  2135.00  2747.5  3925.00  4335.0
78           626.023907  1800.0  2282.50  2910.0  3410.00  4080.0
79           747.881497  1915.0  2556.00  3190.0  3725.00  4360.0
80           432.235491  1835.0  2110.00  2335.0  2800.00  3381.0
81           533.600501  1755.0  2065.00  2385.0  2900.00  3725.0
82           354.276713  1965.0  2127.50  2525.0  2727.50  3035.0

[13 rows x 48 columns]

In [32]:
d=df.groupby('model_year').describe().transpose()
d.to_csv('mpg1.csv')

In [33]:
#find average weight when year is 70 and cylinders 8
df.groupby(['model_year','cylinders']).mean()

                            mpg  displacement       weight  acceleration  \
model_year cylinders
70         4          25.285714    107.000000  2292.571429     16.000000
           6          20.500000    199.000000  2710.500000     15.500000
           8          14.111111    367.555556  3940.055556     11.194444
71         4          27.461538    101.846154  2056.384615     16.961538
           6          18.000000    243.375000  3171.875000     14.750000
           8          13.428571    371.714286  4537.714286     12.214286
72         3          19.000000     70.000000  2330.000000     13.500000
           4          23.428571    111.535714  2382.642857     17.214286
           8          13.615385    344.846154  4228.384615     13.000000
73         3          18.000000     70.000000  2124.000000     13.500000
           4          22.727273    109.272727  2338.090909     17.136364
           6          19.000000    212.250000  2917.125000     15.687500
           8          13.200000    365.250000  4279.050000     12.250000
74         4          27.800000     96.533333  2151.466667     16.400000
           6          17.857143    230.428571  3320.000000     16.857143
           8          14.200000    315.200000  4438.400000     14.700000
75         4          25.250000    114.833333  2489.250000     15.833333
           6          17.583333    233.750000  3398.333333     17.708333
           8          15.666667    330.500000  4108.833333     13.166667
76         4          26.766667    106.333333  2306.600000     16.866667
           6          20.000000    221.400000  3349.600000     17.000000
           8          14.666667    324.000000  4064.666667     13.222222
77         3          21.500000     80.000000  2720.000000     13.500000
           4          29.107143    106.500000  2205.071429     16.064286
           6          19.500000    220.400000  3383.000000     16.900000
           8          16.000000    335.750000  4177.500000     13.662500
78         4          29.576471    112.117647  2296.764706     16.282353
           5          20.300000    131.000000  2830.000000     15.900000
           6          19.066667    213.250000  3314.166667     16.391667
           8          19.050000    300.833333  3563.333333     13.266667
79         4          31.525000    113.583333  2357.583333     15.991667
           5          25.400000    183.000000  3530.000000     20.100000
           6          22.950000    205.666667  3025.833333     15.433333
           8          18.630000    321.400000  3862.900000     15.400000
80         3          23.700000     70.000000  2420.000000     12.500000
           4          34.612000    111.000000  2360.080000     17.144000
           5          36.400000    121.000000  2950.000000     19.900000
           6          25.900000    196.500000  3145.500000     15.050000
81         4          32.814286    108.857143  2275.476190     16.466667
           6          23.428571    184.000000  3093.571429     15.442857
           8          26.600000    350.000000  3725.000000     19.000000
82         4          32.071429    118.571429  2402.321429     16.703571
           6          28.333333    225.000000  2931.666667     16.033333

                        origin
model_year cylinders
70         4          2.285714
           6          1.000000
           8          1.000000
71         4          1.923077
           6          1.000000
           8          1.000000
72         3          3.000000
           4          1.928571
           8          1.000000
73         3          3.000000
           4          2.000000
           6          1.250000
           8          1.000000
74         4          2.200000
           6          1.000000
           8          1.000000
75         4          2.166667
           6          1.000000
           8          1.000000
76         4          1.866667
           6          1.300000
           8          1.000000
77         3          3.000000
           4          1.857143
           6          1.400000
           8          1.000000
78         4          2.117647
           5          2.000000
           6          1.166667
           8          1.000000
79         4          1.583333
           5          2.000000
           6          1.000000
           8          1.000000
80         3          3.000000
           4          2.200000
           5          2.000000
           6          2.000000
81         4          2.095238
           6          1.714286
           8          1.000000
82         4          1.714286
           6          1.000000

In [34]:
df.groupby(['model_year','cylinders']).max()['weight'][80] #finding maximum weight in year 80 and cylinder are 6

cylinders
3    2420
4    3250
5    2950
6    3381
Name: weight, dtype: int64

In [48]:
df.groupby(['model_year','acceleration']).min()

                          mpg  cylinders  displacement horsepower  weight  \
model_year acceleration
70         8.0           14.0          8         340.0        160    3609
           8.5           14.0          8         390.0        190    3850
           9.0           14.0          8         454.0        220    4354
           9.5           15.0          8         400.0        150    3761
           10.0          14.0          8         383.0        170    3086
           10.5          17.0          8         302.0        140    3449
           11.0          18.0          8         318.0        150    3436
           11.5          15.0          8         350.0        165    3693
           12.0          16.0          8         304.0        130    3433
           12.5          26.0          4         121.0        113    2234
           13.5          11.0          8         318.0        210    4382
           14.0          10.0          8         360.0        215    4615
           14.5          24.0          4          97.0         88    2130
           15.0          10.0          4         113.0        200    2372
           15.5          18.0          6         198.0         95    2774
           16.0          21.0          6         200.0         85    2587
           17.5          25.0          4         104.0         87    2375
           18.5           9.0          8         304.0        193    4732
           20.5          26.0          4          97.0         46    1835
71         11.5          12.0          8         383.0        175    4464
           12.0          13.0          8         350.0        165    4209
           13.0          14.0          6         232.0        100    2634
           13.5          14.0          6         258.0        110    2962
           14.0          23.0          4         113.0         86    2123
           14.5          18.0          4          88.0         76    2065
           15.0          19.0          6         250.0        100    3282
           15.5          16.0          4         140.0        100    2264
           18.0          35.0          4          72.0         69    1613
           19.0          22.0          4          71.0         60    1773
           19.5          30.0          4          79.0         70    2074
...                       ...        ...           ...        ...     ...
81         17.8          32.3          4          97.0         67    2065
           18.3          31.6          4         120.0         74    2635
           19.0          26.6          8         350.0        105    3725
           19.4          37.0          4          85.0         65    1975
           19.6          30.7          6         145.0         76    3160
           20.4          28.1          4         141.0         80    3230
           20.7          29.9          4          98.0         65    2380
82         11.6          32.0          4         135.0         84    2295
           13.0          36.0          4         135.0         84    2370
           13.9          32.0          4         144.0         96    2665
           14.5          26.0          4         107.0         75    2160
           14.7          22.0          4         105.0        112    2125
           15.0          38.0          4          91.0         67    1965
           15.3          36.0          4         105.0         74    1980
           15.6          27.0          4         140.0         86    2790
           15.7          32.0          4          91.0         67    1965
           16.0          29.0          4         135.0         84    2525
           16.2          31.0          4          91.0         67    1995
           16.4          24.0          4         140.0        110    2865
           16.9          34.0          4         108.0         70    2245
           17.0          38.0          6         262.0         85    3015
           17.3          27.0          4          98.0         70    2125
           17.6          31.0          4          91.0         68    1970
           18.0          27.0          4         112.0         88    2395
           18.2          37.0          4          91.0         68    2025
           18.6          27.0          4         112.0         79    2625
           19.4          31.0          4         119.0         82    2720
           19.6          28.0          4         112.0         88    2605
           20.5          23.0          4         151.0          ?    3035
           24.6          44.0          4          97.0         52    2130

                         origin                               name
model_year acceleration
70         8.0                1                 plymouth 'cuda 340
           8.5                1                 amc ambassador dpl
           9.0                1                   chevrolet impala
           9.5                1              chevrolet monte carlo
           10.0               1            buick estate wagon (sw)
           10.5               1                        ford torino
           11.0               1                 plymouth satellite
           11.5               1                  buick skylark 320
           12.0               1                      amc rebel sst
           12.5               2                           bmw 2002
           13.5               1                         dodge d200
           14.0               1                          ford f250
           14.5               2                        audi 100 ls
           15.0               1                        amc gremlin
           15.5               1                         amc hornet
           16.0               1                      ford maverick
           17.5               2                        peugeot 504
           18.5               1                           hi 1200d
           20.5               2       volkswagen 1131 deluxe sedan
71         11.5               1                  dodge monaco (sw)
           12.0               1                   chevrolet impala
           13.0               1                        amc gremlin
           13.5               1         amc hornet sportabout (sw)
           14.0               1                 mercury capri 2000
           14.5               1                       datsun pl510
           15.0               1                   pontiac firebird
           15.5               1                        amc matador
           18.0               3                        datsun 1200
           19.0               1                chevrolet vega (sw)
           19.5               2                        peugeot 304
...                         ...                                ...
81         17.8               3                             subaru
           18.3               3                          mazda 626
           19.0               1              oldsmobile cutlass ls
           19.4               3                     datsun 210 mpg
           19.6               2                       volvo diesel
           20.4               2          peugeot 505s turbo diesel
           20.7               1                     ford escort 2h
82         11.6               1                      dodge rampage
           13.0               1                  dodge charger 2.2
           13.9               3                   toyota celica gt
           14.5               1         chrysler lebaron medallion
           14.7               1                     ford granada l
           15.0               3                        honda civic
           15.3               2                volkswagen rabbit l
           15.6               1                    ford mustang gl
           15.7               3                 honda civic (auto)
           16.0               1                     dodge aries se
           16.2               1                      datsun 310 gx
           16.4               1              buick century limited
           16.9               3                     toyota corolla
           17.0               1  oldsmobile cutlass ciera (diesel)
           17.3               1                   chevrolet camaro
           17.6               3                   mazda glc custom
           18.0               1          chevrolet cavalier 2-door
           18.2               3                 mazda glc custom l
           18.6               1           chevrolet cavalier wagon
           19.4               1                         chevy s-10
           19.6               1                 chevrolet cavalier
           20.5               1                     amc concord dl
           24.6               2                          vw pickup

[272 rows x 7 columns]

In [54]:
df.groupby(['model_year','cylinders']).agg([np.max,np.mean,np.min])

                       mpg                  displacement                     \
                      amax       mean  amin         amax        mean   amin
model_year cylinders
70         4          27.0  25.285714  24.0        121.0  107.000000   97.0
           6          22.0  20.500000  18.0        200.0  199.000000  198.0
           8          18.0  14.111111   9.0        455.0  367.555556  302.0
71         4          35.0  27.461538  22.0        140.0  101.846154   71.0
           6          19.0  18.000000  16.0        258.0  243.375000  225.0
           8          14.0  13.428571  12.0        400.0  371.714286  318.0
72         3          19.0  19.000000  19.0         70.0   70.000000   70.0
           4          28.0  23.428571  18.0        140.0  111.535714   96.0
           8          17.0  13.615385  11.0        429.0  344.846154  302.0
73         3          18.0  18.000000  18.0         70.0   70.000000   70.0
           4          29.0  22.727273  19.0        140.0  109.272727   68.0
           6          23.0  19.000000  16.0        250.0  212.250000  155.0
           8          16.0  13.200000  11.0        455.0  365.250000  302.0
74         4          32.0  27.800000  24.0        140.0   96.533333   71.0
           6          21.0  17.857143  15.0        258.0  230.428571  198.0
           8          16.0  14.200000  13.0        350.0  315.200000  302.0
75         4          33.0  25.250000  22.0        140.0  114.833333   90.0
           6          21.0  17.583333  15.0        258.0  233.750000  171.0
           8          20.0  15.666667  13.0        400.0  330.500000  262.0
76         4          33.0  26.766667  19.0        140.0  106.333333   85.0
           6          24.0  20.000000  16.5        258.0  221.400000  156.0
           8          17.5  14.666667  13.0        351.0  324.000000  302.0
77         3          21.5  21.500000  21.5         80.0   80.000000   80.0
           4          36.0  29.107143  21.5        151.0  106.500000   79.0
           6          22.0  19.500000  17.5        250.0  220.400000  146.0
           8          17.5  16.000000  15.0        400.0  335.750000  260.0
78         4          43.1  29.576471  21.1        156.0  112.117647   78.0
           5          20.3  20.300000  20.3        131.0  131.000000  131.0
           6          20.8  19.066667  16.2        258.0  213.250000  163.0
           8          20.2  19.050000  17.5        318.0  300.833333  260.0
79         4          37.3  31.525000  22.3        151.0  113.583333   85.0
           5          25.4  25.400000  25.4        183.0  183.000000  183.0
           6          28.8  22.950000  19.8        232.0  205.666667  173.0
           8          23.9  18.630000  15.5        360.0  321.400000  260.0
80         3          23.7  23.700000  23.7         70.0   70.000000   70.0
           4          46.6  34.612000  23.6        156.0  111.000000   85.0
           5          36.4  36.400000  36.4        121.0  121.000000  121.0
           6          32.7  25.900000  19.1        225.0  196.500000  168.0
81         4          39.1  32.814286  25.8        156.0  108.857143   79.0
           6          30.7  23.428571  17.6        231.0  184.000000  145.0
           8          26.6  26.600000  26.6        350.0  350.000000  350.0
82         4          44.0  32.071429  23.0        156.0  118.571429   91.0
           6          38.0  28.333333  22.0        262.0  225.000000  181.0

                     weight                    acceleration                   \
                       amax         mean  amin         amax       mean  amin
model_year cylinders
70         4           2672  2292.571429  1835         20.5  16.000000  12.5
           6           2833  2710.500000  2587         16.0  15.500000  15.0
           8           4732  3940.055556  3086         18.5  11.194444   8.0
71         4           2408  2056.384615  1613         20.5  16.961538  14.0
           6           3439  3171.875000  2634         15.5  14.750000  13.0
           8           5140  4537.714286  4096         13.5  12.214286  11.5
72         3           2330  2330.000000  2330         13.5  13.500000  13.5
           4           2979  2382.642857  2100         23.5  17.214286  14.5
           8           4633  4228.384615  3672         16.0  13.000000  11.0
73         3           2124  2124.000000  2124         13.5  13.500000  13.5
           4           2868  2338.090909  1867         21.0  17.136364  14.0
           6           3278  2917.125000  2472         18.0  15.687500  13.5
           8           4997  4279.050000  3399         14.5  12.250000   9.5
74         4           2542  2151.466667  1649         21.0  16.400000  14.0
           6           3781  3320.000000  2875         18.0  16.857143  16.0
           8           4699  4438.400000  4141         16.0  14.700000  13.5
75         4           2957  2489.250000  1795         18.5  15.833333  13.5
           6           3907  3398.333333  2914         21.0  17.708333  14.5
           8           4668  4108.833333  3169         14.5  13.166667  11.5
76         4           3270  2306.600000  1795         22.2  16.866667  12.2
           6           3820  3349.600000  2930         21.0  17.000000  14.5
           8           4380  4064.666667  3755         15.0  13.222222  12.0
77         3           2720  2720.000000  2720         13.5  13.500000  13.5
           4           2755  2205.071429  1825         18.6  16.064286  12.8
           6           3630  3383.000000  2815         19.0  16.900000  14.5
           8           4335  4177.500000  3880         19.0  13.662500  11.1
78         4           2855  2296.764706  1800         21.5  16.282353  14.2
           5           2830  2830.000000  2830         15.9  15.900000  15.9
           6           3620  3314.166667  2965         19.2  16.391667  13.4
           8           4080  3563.333333  3205         15.5  13.266667  11.2
79         4           3190  2357.583333  1915         24.8  15.991667  13.2
           5           3530  3530.000000  3530         20.1  20.100000  20.1
           6           3360  3025.833333  2595         18.2  15.433333  11.3
           8           4360  3862.900000  3420         22.2  15.400000  13.0
80         3           2420  2420.000000  2420         12.5  12.500000  12.5
           4           3250  2360.080000  1835         23.7  17.144000  13.8
           5           2950  2950.000000  2950         19.9  19.900000  19.9
           6           3381  3145.500000  2910         18.7  15.050000  11.4
81         4           3230  2275.476190  1755         20.7  16.466667  12.9
           6           3465  3093.571429  2725         19.6  15.442857  12.6
           8           3725  3725.000000  3725         19.0  19.000000  19.0
82         4           3035  2402.321429  1965         24.6  16.703571  11.6
           6           3015  2931.666667  2835         17.0  16.033333  14.7

                     origin
                       amax      mean amin
model_year cylinders
70         4              3  2.285714    2
           6              1  1.000000    1
           8              1  1.000000    1
71         4              3  1.923077    1
           6              1  1.000000    1
           8              1  1.000000    1
72         3              3  3.000000    3
           4              3  1.928571    1
           8              1  1.000000    1
73         3              3  3.000000    3
           4              3  2.000000    1
           6              3  1.250000    1
           8              1  1.000000    1
74         4              3  2.200000    1
           6              1  1.000000    1
           8              1  1.000000    1
75         4              3  2.166667    1
           6              1  1.000000    1
           8              1  1.000000    1
76         4              3  1.866667    1
           6              3  1.300000    1
           8              1  1.000000    1
77         3              3  3.000000    3
           4              3  1.857143    1
           6              3  1.400000    1
           8              1  1.000000    1
78         4              3  2.117647    1
           5              2  2.000000    2
           6              2  1.166667    1
           8              1  1.000000    1
79         4              3  1.583333    1
           5              2  2.000000    2
           6              1  1.000000    1
           8              1  1.000000    1
80         3              3  3.000000    3
           4              3  2.200000    1
           5              2  2.000000    2
           6              3  2.000000    1
81         4              3  2.095238    1
           6              3  1.714286    1
           8              1  1.000000    1
82         4              3  1.714286    1
           6              1  1.000000    1